@charset "utf-8";
/* CSS Document */


html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	font-family: 'Open Sans Condensed', sans-serif;
}

.mainImg {
	height: 250px;
	border: 1px dashed #090;
	left: 203px;
	top: 179px;
	text-align: center;
	vertical-align: middle;
}
#mainPic{
	max-height:250px;
	max-width:450px;
}

.exlabel {
	
	display: inline-block;
	padding: .5em .75em;
	color: #999;
	font-size: inherit;
	line-height: normal;
	vertical-align: middle;
	background-color: #fdfdfd;
	cursor: pointer;
	border: 1px solid #ebebeb;
	border-bottom-color: #e2e2e2;
	border-radius: .25em;
}
.filebox input[type="file"] { /* 파일 필드 숨기기 */
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
	left: 140px;
	top: 292px;
}
