@charset "utf-8";
/* CSS Document */

.memberInfoWrap {
    display: inline-block;
    background-color: #eeeeee;
    width: 23%;
    margin-top: 20px;
    margin-right: 16px;
    cursor: pointer;
    box-sizing: border-box;
    transition: 0.3s;
}
.memberInfoWrap:hover {
    border: 1px solid #12b9ff;
}

.memberInfo {
    display: inline-block;
    float: left;
    width: 70px;
    /* margin: 20px; */
    margin-top: 30px;
    margin-left: 0;
}


.memberProfile {
    display: inline-block;
    float: left;
    width: 60px;
    margin: 20px;
    /* border: 1px solid black; */
    border-radius: 70px;
}

.infoWrap {
    width: 100%;
    margin: 0 auto;
}
.memberImage {
    width: 100%;
    border-radius: 70px;
    height: 60px;
}
span.memberId {
    color: #868686;
    display: block;
    margin-top: 5px;
    /* font-weight: 600; */
}

span.memberName {
    color: #131313;
    font-size: 15px;
    /* font-weight: 600; */
}
span.totalSumText {
    color: #c80f3b;
    font-size: 20px;
}

span.totalText {
    color: #777;
    font-size: 15px;
    font-weight: 600;
    margin-left: 20px;
}
.memberSearchBox {
    float: right;
    margin-right: 20px;
}
select.searchSelectBox {
    padding: 5px;
    font-size: 13px;
}
input#searchKeyword {
    padding: 6px;
    font-size: 14px;
}
input.inputb.memberSearchSubmit {
    border: none;
    background-color: #555;
    padding: 6px;
    color: white;
    width: 70px;
    border-radius: 7px;
}