@charset "utf-8";
/* CSS Document */


.content1 {
    width: 75%;
    margin: 0 auto;
    border-top: 3px solid #aeaeae;
    box-sizing: border-box;
    padding: 40px;
}
.content1 .tab button {
    background-color: inherit;
    float: right;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
}
.tab {
    overflow: hidden;
}
.tab button.active {
    background-color: #ffffff;
}
.content1 .tabcontent {
    display: none;
    height: 211px;
    width: 90%;
    margin: 0 auto;
    border-top: 1px solid #ccc;
}

.content1 .tabcontent li {
    float: left;
    width: 46%;
    border-bottom: 1px solid #ccc;
    padding: 5px;
    margin-left: 20px;
    box-sizing: border-box;
}
.content1 .tab {
    width: 90%;
    margin: 0 auto;
}

li
{
overflow : hidden;
list-style : none;

}

input.tablinks.active {
    color: #e1372a;
        border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}


#content2 .inlinesearch{
   
    padding: -3px;
    width: 200px auto;
    margin: 35px;
    background-color :  #999999;
    display : inline-block;
}

.inputb{
  background-color : #999999;
}

.tablinks {
    border: none;
    color: #616161;
    padding: 15px;
    font-weight: 600;
    background-color: white;
    font-size: 15px;
    display: inline-block;
    outline: none;
}
.tabButtonWrap {
    float: right;
}
.tabcontent ul{
	width: 100%;
    display: block;
    height: 200px;
    padding: 0;
	
}

span.BestRedNumber {
    color: #df0000;
    font-weight: 600;
    font-style: italic;
    font-size: 20px;
margin-right: 5px;
}

span.BestNumber {
    color: black;
    font-weight: 600;
    font-style: italic;
    font-size: 20px;
margin-right: 5px;
}

span.bestSubject {
    font-size: 15px;
}

span.bestCommentCounting {
    font-size: 16px;
    color: #ff3c00;
}

span.countingText {
    float: right;
    font-size: 15px;
    margin-top: 5px;
    margin-right: 5px;
    color: #555;
}
span.bestOnlyText {
    float: left;
    font-size: 25px;
    font-weight: 600;
    line-height: 50px;
    margin-left: 15px;
}
.content2 {
    width: 75%;
    margin: 0 auto;
    box-sizing: border-box;
    border-top: 2px solid #aeaeae;
    padding-top: 50px;
}

.profileDIV {
    width: 40px;
    height: 40px;
    border: 2px solid #d7d7d7;
    display: inline-block;
    float: left;
}

.subjectDIV {
    display: inline-block;
    float: left;
    margin-left: 15px;
}

span.boardListComments {
    color: #ff3c00;
}

span.boardName {
    color: #4e959f;
}

span.boardAuthor {
    color: #aeaeae;
}
img.boardProfile {
    width: 100%;
}
td {
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #eee;
}
table {
    width: 100%;
}
.pagingWrap {
    width: 100%;
    text-align: center;
    /* margin: 0 auto; */
}
.searchWrap {
    text-align: center;
    width: 85%;
    margin: 0 auto;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #f4f4f4;
}
.writeButtonWrap {
    /* width: 100%; */
    /* margin: 0 auto; */
    margin-bottom: 50px;
}
.writeButton2{
	float: right;
    margin: 25px;
    border: none;
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 15px;
    width: 89px;
}
.selectBox2{
	padding: 5px;
    font-size: 15px;
    width: 100px;
        height: 34px;
}
.searchBox2{
	padding: 5px;
    font-size: 15px;
    width: 20%;
    height: 20px;
}
.searchButton2{
	border: none;
    box-sizing: border-box;
    background-color: #7f7f7f;
    color: white;
    padding: 8px;
    font-size: 14px;
    width: 60px;
    border-radius: 5px;
}
.boardInfoWrap {
    display: inline-block;
    float: right;
    /* margin-right: 42px; */
    margin-right: 10px;
    width: 90px;
}
.infoImg {
    width: 25px;
    display: inline-block;
    float: left;
}
.lineInfoospan{
   font-size: 25px;
   
}
img.infoCon {
    width: 100%;
}

span.infoText {
    color: #b6c0c8;
    font-size: 17px;
    float: left;
    margin-left: 5px;
}
.bestSubject:hover{
	text-decoration: underline;
}
.subjectDIV a:hover{
	text-decoration: underline;
}